@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,900);
@import url(https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato','Helvetica Neue',Arial,sans-serif;
    background-color: #FFFEFE;
    color: #222;
    webkit-tap-highlight-color: #333;
}

hr {
    max-width: 80px;
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.light {
    border-color: #fff;
    opacity: 0.3;
}

hr.dark {
    border-color: #222;
}

a {
    color: #E43F42;
    text-decoration: none;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #E43F42;
    outline: 0;
}

.sponsors-img img:hover {
  opacity: 0.5;
}

h1,h2,h3,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Lato', sans-serif;
  color: #eee;
}

h4:hover {
  color: #aaa;
}


.sponsorspage_container {
  margin: 0 auto;
  padding: 100px 5vw 0;
    width:100%;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-color: #fff;
    padding-top: 75px;
    padding-bottom: 75px;
}
.activities_container {
    margin: 0 auto;
    padding: 100px 5vw 0;
    width:100%;
    height:100%px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-color: #fff;
    padding-top: 75px;
    padding-bottom: 75px;
}

.phoneBg {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: #eee;
    background-repeat: no-repeat;
    padding-right: 10%;
    padding-left: 10%;
}


.sponsorspage_bg {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: #eee;
    background-repeat: no-repeat;
    padding-right: 10%;
    padding-left: 10%;
}

.t-timeline {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    padding-right: 10%;
    padding-left: 10%;
}

.bg-sm {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url("https://www.hackduke.org/506993c65ca9f0e669206437d1f0883d.png");
    background-repeat: no-repeat;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #c9c9c9;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: radial-gradient(ellipse at top, #eee 0%, #fff 100%);
    overflow: hidden;
}

.btn-space {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10%;
    margin-left: 10%;
}

h2 {
    font-size: 50px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #eee;
}

.bg-dark {
    color: #222;
    background-color: #eee;
}

.bg-light {
    margin: 0 auto;
    padding: 100px 5vw 0;
    width:100%;
    height: 1500px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-color: #fff;
    padding-top: 75px;
    padding-bottom: 75px;
}


.serif {
    font-family: 'Crimson Text', black;
    text-transform: none;
}

.text-faded {
    color: #222;
}

.text-dark {
    color: #111;
}

.text-primary {
    color: #E43F42;
}

.modal-content {
    background-color: #fff;
}

section {
    padding: 70px 0;
}

aside {
    padding: 50px 0;
}

footer {
    padding: 15px;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(35,35,35,.05);
    font-family: 'Lato','Helvetica Neue',Arial,sans-serif;
    background-color: #222;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.navbar-header > .navbar-brand {
    font-family: 'Lato','Helvetica Neue',Arial,sans-serif;
    color: #E43F42;
    padding: 15px;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}

.navbar-header > .navbar-brand:hover,
.navbar-header > .navbar-brand:focus {
    color: #e73827;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #181818;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #eee;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #E43F42;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #E43F42 !important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover
{
    background-color: transparent;
}


@media(min-width:768px) {
    .navbar-default {
        border-color: transparent;
        background-color: transparent;
        min-height: 60px;
    }

    .navbar-header > .navbar-brand {
        color: rgba(255,255,255,0.7);
        padding: 19px;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,0.8);
        padding: 20px;
        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fefefe;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #222;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 15px;
        color: #E43F42;
        padding: 20px;
        letter-spacing: 1px;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #e73827 ;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #E43F42;
    }
}


header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #c9c9c9;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}

#video-background {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: 1;
}

#video-background.collapsing {
  display:none;
}

footer {
    background-color:#222;
}

@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }
    
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
    
    section {
        min-height: 600px;
        padding: 100px 0;
    }

}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
    background-image: none;
    border: 1px solid #20;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px #20;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #222;
    background-color: #20;
    box-shadow: none;
}

textarea {
    resize: none;
}

.margin-top-0 {
    margin-top: 0;
    color: #E43F42;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.gallery-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    max-height: 255px;
    overflow:hidden;
}

.text-activities {
  color: #ddd;
}

.one {
  background: #e73827;
  background-image: -webkit-radial-gradient(top, circle cover, #E43F42, #e73827 80%);
  background-image: -moz-radial-gradient(top, circle cover, #E43F42, #e73827 80%);
  background-image: -o-radial-gradient(top, circle cover, #E43F42, #e73827 80%);
  background-image: radial-gradient(top, circle cover, #E43F42, #e73827 80%);
}

.fa-users, .fa-trophy, .fa-handshake-o, .text-white {
  color: #eee;
}

.gallery-box .gallery-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(44,44,44,.8);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.gallery-box .gallery-box-caption .gallery-box-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center; 
    transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}

.gallery-box:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery-box img {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    color: #fff;
    background-color: #E43F42;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #9c3d34;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
    opacity: 0.7;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn.btn-primary {
    background-color: transparent;
    border:1px solid #222;
    color: #222;
    border-color:#ededed;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn {
    border: 0;
    border-radius: 200px;
    font-family: 'Helvetica Neue',Arial,sans-serif;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.bgg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,  
    #2C3E50, #FD746C, 
    #FF8235, #ffff1c, 
    #92FE9D, #00C9FF, 
    #a044ff, #e73827);
  background-repeat: no-repeat;
  background-size: 1000% 1000%;
  animation: gradient 240s ease infinite;
}

@keyframes gradient { 
  0%{background-position:0% 0%}
  50%{background-position:100% 100%}
  100%{background-position:0% 0%}
}






/* reset */


dl,
dt,
dd,
ul,
ol,
li,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
blockquote,
th,
td {
  margin: 0;
  padding: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset,
img {
  border: 0;
  /* max-width: 100%; */
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal
}

ol,
ul {
  list-style: none
}

caption,
th {
  text-align: left
}


q:before,
q:after {
  content: ''
}

abbr,
acronym {
  border: 0;
  font-variant: normal
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit
}

input,
textarea,
select {
  *font-size: 100%
}

legend {
  color: #000
}

#yui3-css-stamp.cssreset {
  display: none
}

:focus {
  outline: 0
}

.phoneFrame {
  font-family: 'Source Sans Pro', Arial;
  color: #fff;
  background-position: center;
  width: 100%;
  height: 450px;
  position: absolute;
  left: 1px;
  right: 1px;
}

.screenEstate {
  width: 100%;
  height: 450px;
  position: absolute;
  top: 25px;
  z-index: 1;
  overflow: hidden;
  background: #fff;
}

.tabs {
  background: #E43F42;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.tabs a {
  width: 111px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
  border: none;
  display: inline-block;
  float: none;
  text-decoration: none;
}

.tabs a.active {
  border-bottom: rgba(255, 255, 255, 0.5) solid 5px;
}

.tabContent {
  color: #666;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 502px;
  top: -1000px;
  opacity: 0;
  -webkit-filter: blur(15px);
  filter: blur(15px);
  -webkit-transition: top .4s ease, opacity .5s ease, -webkit-filter .5s ease;
  -moz-transition: top .4s ease, opacity .5s ease, -moz-filter .5s ease;
  transition: top .4s ease, opacity .5s ease, filter .5s ease;
}

.tabContent.activeTab {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  filter: blur(0px);
  z-index: 2;
  top: 70px;
  opacity: 1;
}

.tabContent ul {
  padding: 20px;
  width: 100%;

}

.tabContent ul li {
  display: block;
  overflow: hidden;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: #eee solid 1px;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  transition: all .8s ease;
}

.tabContent ul li:last-child {
  border-bottom: none;
}

.activeTab ul li {
  padding-bottom: 13px !important;
  margin-bottom: 13px !important;
}

.tabContent h1 {
  display: block;
  text-align: center;
  margin-top: 120px;
  font-size: 20px;
  text-decoration: none;
  padding: 5px; 0;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  transition: all .8s ease;
}

.activeTab h1 {
  margin-top: 20px;
}

.threeModify {
  padding-top: 20px;
}

table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #222;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #222;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}





@media (min-width: 450px) {
  h1 {
    font-size: 1.75em;
  }
}
@media (min-width: 760px) {
  h1 {
    font-size: 3.25em;
  }
}
@media (min-width: 900px) {
  h1 {
    font-size: 5.25em;
    margin: 0 0 1em;
  }
}

.btn-37 p {
  color: #fff;
  font-size: 12px;
}
@media (min-width: 600px) {
  .btn-37 p {
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 90%;
  }
}
@media (max-height: 500px) {
  .btn-37 p {
    left: 0;
    position: relative;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.btn-37 p a {
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid;
  color: #222;
  line-height: 1.4;
  padding: .25em;
  text-decoration: none;
}
.btn-37 p a:hover {
  background: #222;
  color: #E1332D;
}


.btn-37 {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
.btn-37 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-37:hover {
  text-decoration: none;
}
.btn-37:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}
.btn-37 rect {
  fill: none;
  stroke: #222;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
}
.btn-37:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
.modifyBtn {
  margin-top: 535px;
  background: #e02c26;
  font-weight: 100;
}

.skewed-bg{
  background: #E43F42;
  padding: 100px 0;
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  margin-top: -200px;
}
.skewed-bg .content {
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
  text-align: center;
}
.skewed-bg .content .title {
  padding-top: 100px;
  font-weight: normal;
}
.skewed-bg .content .text {
  width: 60%;
  margin: 25px auto;
  color: #ccfff2;
}
  
  .content{
    @include transform(skew(0deg, 10deg));
    text-align: center;
    
  } 
}

* {
  box-sizing: inherit;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;



